<div class="columns is-centered">
  <h3 class="title is-3">Tarefa</h3>
</div>

<form #tarefaForm="ngForm">

  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="tarefaService.selectedTarefa.Id">

  <div class="field">
    <div class="control">
      <input class="input is-rounded" type="text" name="Nome" #Nome="ngModel" [(ngModel)]="tarefaService.selectedTarefa.Nome" placeholder="Nome"
        required>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <textarea class="textarea is-rounded" type="text" name="Descricao" #Descricao="ngModel" [(ngModel)]="tarefaService.selectedTarefa.Descricao"
        placeholder="Descrição" required>
        </textarea>
    </div>
  </div>

  <div class="buttons is-centered">
    <div class="column is-half">
      <p class="control">
        <button class="button is-info is-rounded" (click)="onSubmit(tarefaForm)">Salvar</button>
      </p>
    </div>
    <p class="control">
      <button class="button is-warning is-rounded" (click)="onSubmit(tarefaForm)">Concluir tarefa</button>
    </p>
  </div>

</form>