<div class="columns is-centered">
  <h3 class="title is-3">Tarefa</h3>
</div>

<form #tarefaForm="ngForm">

  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="tarefaService.selectedTarefa.Id">

  <div class="field">
    <div class="control">
      <input class="input is-rounded" type="text" name="Nome" #Nome="ngModel" [(ngModel)]="tarefaService.selectedTarefa.Nome" placeholder="Nome"
        required>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <textarea class="textarea is-rounded" type="text" name="Descricao" #Descricao="ngModel" [(ngModel)]="tarefaService.selectedTarefa.Descricao"
        placeholder="Descrição" required>
        </textarea>
    </div>
  </div>

  <hr>
  <div class="columns is-centered">
    <h4 class="title is-4">Subtarefas</h4>
  </div>

  <table class="table is-fullwidth is-striped">
    <thead>
      <th>
        <p class="has-text-centered">
          Nome
        </p>
      </th>
      <th>
        <p class="has-text-centered">
          Opções
        </p>
      </th>
    </thead>

    <tbody>
      <tr *ngFor="let subtarefa of tarefaService.selectedTarefa.Subtarefas">
        <td>
          <p class="has-text-centered">
            {{subtarefa.Nome}}
          </p>
        </td>
        <td>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <a class="button is-small is-primary" (click)="showForEdit(tarefa)">Editar</a>
            </p>
            <p class="control">
              <a class="button is-small is-danger" (click)="onDelete(tarefa.Id)">Excluir</a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>

  <div class="buttons is-centered">
    <div class="column is-half">
      <p class="control">
        <button class="button is-info is-rounded" (click)="onSubmit(tarefaForm)">Salvar</button>
      </p>
    </div>
    <p class="control">
      <button class="button is-warning is-rounded" (click)="onSubmit(tarefaForm)">Concluir tarefa</button>
    </p>
  </div>
  <hr>
  
</form>