<div class="columns">
    <div class="column has-text-centered">
        <h3 class="title is-3">Controle de tarefas</h3>
    </div>
</div>
<hr>

<div class="columns">
    <progress class="progress is-small is-success" [value]="tarefaService.progressoTarefaConcluida" max="100"></progress>
</div>
<hr>

<div class="columns">
    <div class="column has-text-centered">
        <app-tarefa></app-tarefa>
    </div>
    <div class="column has-text-centered">
        <app-tarefa-list></app-tarefa-list>
    </div>
</div>