<hr>
<div class="columns has-text-centered">
  <div class="column is-12">
    <h5 class="title is-5">Progresso</h5>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column is-12">
    <progress class="progress is-small is-success" [value]="tarefaService.progressoTarefaConcluida" max="100"></progress>
  </div>
</div>
<hr>

<div class="columns has-text-centered">
  <div class="column">
    <h6 class="title is-6">Tarefas</h6>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input is-small" [disabled]="tarefaService.tarefas.length === 0" (input)="onFilterTarefa(filtro.value)"
          type="text" #filtro placeholder="Buscar tarefas">
      </p>
      <p class="control">
        <a class="button is-small is-primary" (click)="onAddTarefa()">
          <i class="fas fa-plus"></i>
        </a>
      </p>
    </div>
  </div>
</div>

<table class="table is-hoverable is-striped is-narrow is-fullwidth" *ngIf="tarefaService.tarefas.length > 0; else semDados">
  <thead>
    <th class="has-text-centered title is-7">
      Nome
    </th>
    <th class="has-text-centered title is-7">
      Descrição
    </th>
    <th class="has-text-centered title is-7">
      Concluída
    </th>
    <th class="has-text-centered title is-7">
      Opções
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefaService.tarefas">
      <td class="has-text-centered title is-7">
        {{tarefa.Nome}}
      </td>
      <td class="has-text-centered title is-7">
        {{tarefa.Descricao}}
      </td>
      <td class="has-text-centered title is-7">
        <input type="checkbox" disabled [(ngModel)]="tarefa.Concluida">
      </td>
      <td>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-small" [disabled]="tarefa.Concluida" (click)="onEditTarefa(tarefa.Id)">
              <i class="fas fa-pen"></i>
            </button>
          </p>
          <p class="control">
            <button class="button is-small is-success" [disabled]="tarefa.Concluida" (click)="onConcluirTarefa(tarefa)">
              <i class="fas fa-check"></i>
            </button>
          </p>
          <p class="control">
            <button class="button is-small is-danger" (click)="onDeleteTarefa(tarefa.Id)">
              <i class="fas fa-times"></i>
            </button>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #semDados>
  <p class="title is-7">
    Nenhum registro encontrado.
  </p>
</ng-template>