<div class="columns is-centered">
  
  <div class="column is-one-fifth">
    <h4 class="title is-4">Tarefas</h4>
  </div>

  <div class="column">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input" type="text" #filtro placeholder="Buscar tarefas">
      </p>
      <p class="control">
        <a class="button is-info" (click)="onFilter(filtro.value)">
          Buscar
        </a>
      </p>
    </div>
  </div>
</div>

<table class="table is-fullwidth is-striped">
  <thead>
    <th>
      <p class="has-text-centered">
        Nome
      </p>
    </th>
    <th>
      <p class="has-text-centered">
        Descrição
      </p>
    </th>
    <th>
      <p class="has-text-centered">
        Concluída
      </p>
    </th>
    <th>
      <p class="has-text-centered">
        Opções
      </p>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefaService.tarefas">
      <td>
        <p class="has-text-centered">
          {{tarefa.Nome}}
        </p>
      </td>
      <td>
        <p class="has-text-centered">
          {{tarefa.Descricao}}
        </p>
      </td>
      <td>
        <p class="has-text-centered">
          <input type="checkbox" disabled [(ngModel)]="tarefa.Concluida">
        </p>
      </td>
      <td>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-small is-primary" [disabled]="tarefa.Concluida" (click)="onEdit(tarefa.Id)">Editar</button>
          </p>
          <p class="control">
            <button class="button is-small is-danger" (click)="onDelete(tarefa.Id)">Excluir</button>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>